{{ define "header" }}
<head>
	<title>SBH</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Cache-Control" content="no-cache, no-store" />
	<link rel="shortcut icon" href="https://golang.org/doc/gopher/favicon.svg" type="image/svg" />
	<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
</head>
{{ end }}
