<!DOCTYPE html>
<html lang="en">
{{ template "header" }}

<body>
	<div style="padding-left: 1.5%; padding-top: 1.5%" class="container-fluid">
		<form method="POST">
			<div class="row">
				<div class="column">
					<label for="plaintext"><b>Plaintext:</b></label><br>
					<input type="text" placeholder="test" name="plaintext">
					<br>
					<br>
					<label for="nrots"><b>Number of Rotations:</b></label><br>
					<input type="text" placeholder="1729" name="nrots">
					<br>
					<br>
					<label for="seed"><b>Seed:</b></label><br>
					<input type="text" placeholder="42" name="seed">
					<br>
					<br>
					<label for="length"><b>Length:</b></label><br>
					<input type="text" placeholder="12" name="length">
					<br>
					<br>
				</div>
				<div class="column" style="padding-left: 1.5%;">
					<label for="symbols"><b>(Optional) Symbol(s):</b></label><br>
					<input type="text" placeholder="!" name="symbols">
					<br>
					<br>
					<label for="uppercasetimes"><b>(Optional) Number of Uppercase Letters:</b></label><br>
					<input type="text" placeholder="1" name="uppercasetimes">
					<br>
					<br>
					<label for="algorithm"><b>Algorithm:</b></label>
					<select name="algorithm">
						<option value="sha256">sha256</option>
						<option value="md5">md5</option>
						<option value="sha1">sha1</option>
						<option value="sha256_224">sha256_224</option>
						<option value="sha512_224">sha512_224</option>
						<option value="sha512_256">sha512_256</option>
						<option value="sha512_384">sha512_384</option>
						<option value="sha512">sha512</option>
					</select>
				</div>
			</div>
			<br>
			<input type="submit">
		</form>
		<br>
    <br>
    <a href="https://github.com/oglinuk/sbh">SBH</a>: {{ .SBH }}
    <br>
    Time took: <b>{{ .TimeTook }}</b>
    <br>
	</div>
</body>

</html>
